MYSQL_ROOT_PASSWORD: your_mysql_root_password
MYSQL_DATABASE: baconbits
MYSQL_USER: your_mysql_user
MYSQL_PASSWORD: your_mysql_user_password
WORDPRESS_DB_HOST: baconbits-db
WORDPRESS_DB_USER: your_wordpress_db_user
WORDPRESS_DB_PASSWORD: your_wordpress_db_user_password
WORDPRESS_DB_NAME: baconbits
WORDPRESS_AUTH_KEY=your_wordpress_auth_key
WORDPRESS_SECURE_AUTH_KEY=your_wordpress_secure_auth_key
WORDPRESS_LOGGED_IN_KEY=your_wordpress_logged_in_key
WORDPRESS_NONCE_KEY=your_wordpress_nonce_key
WORDPRESS_AUTH_SALT=your_wordpress_auth_salt
WORDPRESS_SECURE_AUTH_SALT=your_wordpress_secure_auth_salt
WORDPRESS_LOGGED_IN_SALT=your_wordpress_logged_in_salt
WORDPRESS_NONCE_SALT=your_wordpress_nonce_salt